*{
  box-sizing: border-box;
}
html, body{
  margin: 0;
}

body{
  background: url('/img/01/bg1.jpg');
  background-size: 100% 100%;
  // background-position: center;
  text-align: center;
  background-repeat: no-repeat;
}

.wp{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.page{
  &-1{

  }
  &-2{

  }
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .miaoshu{
    // height: 2rem;
    margin: .1rem auto 0 auto;
    img{
      height: 1.8rem;
    }
  }
  &-1{
    
    .qiuqian{
      background: url('../img/01/qiuqian.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 4.5rem;
      // margin-top: 2rem;
      margin-bottom: 1rem;
    }
    input{
      background: transparent;
      font-size: .3rem;
      border: 0;
      color: red;
      display: block;
      margin: auto;
      position: relative;
      text-align: center;
      top: 2.5rem;
    }
    #next{
      display: block;
      margin: auto;
      font-size: .3rem;
      background: #d30000;
      border: 0;
      border-radius: 20px;
      padding: .2rem .3rem;
      color: yellow;
      position: relative;
      top: 3.8rem;
      
    }
  }
  &-2{
    text-align: center;
    position: relative;
    
    
    &>img{
      width: 100%;
      height: 100%;
      // display: none;
      position: absolute;
      top: 0;
      left: 0;
    }
    &>canvas{
      width: 100%;
      height: 100%;
      // display: none;
      position: absolute;
      top: 0;
      left: 0;
    }
    .marign{
      padding-top: 1.9rem;
    }
    .flex{
      
    }
    .bg, .qian{
      background-size: contain;
      background-repeat: no-repeat;
    }
    .bg{
      background: url('/img/01/bg1.jpg');
      background-size: 100% 100%;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .qian{
      // height: 3rem;
      margin-bottom: .1rem;
      // background-position: center 0;
      text-align: center;
      // background: url('/img/qian/1.jpg');
      img{
        height: 3.3rem;
        // display: block;
        // margin: auto;
      }
    }
    .wenzi{
      color: #e93f37;
      font-size: .1rem;
      
      .t{
        font-size: .3rem;
      }
      div{
        text-align: justify;
      }
      div::after {
        content: " ";
        display: inline-block;
        width: 100%;
    }
    }
  }
}
