html,
body {
  margin: 0;
}
.wp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.page-2 {
  background: url('/img/02/bg.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
}
.item {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}
.item-2 div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: contain;
}
.item-2 > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.item-2 .qian {
  padding-top: 7rem;
  height: 12rem;
}
.item-2 .wenzi {
  position: relative;
  top: -20px;
}
.item-2 .dixia {
  position: absolute;
  bottom: 0;
}
